@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt{
    font-size: 100px;
    font-weight: 600;
}